
/* ==========================================================================
	General Styles
========================================================================== */
body{
  font-family: 'Ravi Prakash', cursive;
  font-weight: 400;
  background-color: #ff971d;

}
.btn{
  border-radius: 24px;
}
.btn-primary {
  background-color:  #ff971d !important;
  border-color: none !important;
  border: 0px !important;
  color: black !important;
}
h3 {

  padding: 20px 0 20px 0;
}

#imgleft1,#imgright2 {

  padding-top: 30px;
}

#mapgen{
	width: 604px;
	height: 604px;
	position: relative;
}


.left{
	border-right: 2px solid #055507;
	border-bottom: 2px solid #055507;
	border-radius: 30px;
	padding: 80px 10px 80px 10px;

}
.weaponds{
	border-left: 2px solid #055507;
	border-bottom: 2px solid #055507;
	border-radius: 30px;
	padding: 10px 5px 10px 5px;
}

.right{
	border-left: 2px solid #055507;
	border-bottom: 2px solid #055507;
	border-radius: 30px;
	padding: 80px 10px 80px 10px;

}

.grid {
  width: 60px;
  height: 60px;
  float:left;
  border:2px solid #055507;
  background-color: white;
}

.block {
  background-image: url("../img/obstacle.png");
  box-shadow: 0 0 20px black;
  border: 2px solid #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  }

.range2 {
  border: 1px solid #ffeb00;
  background-color: #ffeb00;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}
.bean {
  background-image: url("../img/senzu_bean.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px 55px;
}
.sword {
  background-image: url("../img/sword.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
}
.pole {
  background-image: url("../img/pole.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
}
.ball {
  background-image: url("../img/dragon_ball.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
}
.transparent{
  opacity:0.7;
}
.opaque{
  opacity:1;
}
.player1Moving {
  background-image: url("../img/player1.png");
  background-size: auto 100%;
  background-repeat:   no-repeat;
  background-position: top center;
  opacity: 0.5;
}
.player2Moving {
  background-image: url("../img/player2.png");
  background-size: auto 100%;
  background-repeat:   no-repeat;
  background-position: top center;
  opacity: 0.5;
}
.modal {
  color: #000;
}
.modal-body   {
    text-align: center !important;
}
.modal-title {
  color: blue;
}


